[build]
  command = "npx prisma db push --accept-data-loss && npx prisma db seed && npm run build"
  publish = ".next"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[functions]
  node_bundler = "esbuild"
